.graph-container {
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    flex: 1;
    align-items: center;
    font-family: arial;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
}

.titlebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.spacer {
    flex: 1;
}

.chart {
    height: 250px;
    width: 100%;
    background: white;
    color: black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    border-style: solid;
    border-color: #b6b6b6;
    border-width: 1px;
}